.inputPromo {
  width: 90%;
  margin-left: 5%;
  height: 51px;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 10px;
  margin-top: 24px;
  outline: none;
}