$bg: #181818;
$primary: #EBAB07;

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
	margin: 0%;
	padding: 0%;
}

@font-face {
	font-family: 'buyan';
	src: url('../components/fonts/buyan-bold.ttf');
}

.containerHome {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:
		900px 1000px 1689px 1187px 1300px 1200px 120px 1000px 1000px 900px 2100px 800px 900px 289px;
	overflow: hidden;

	@media screen and (max-width: 1920px) {
		grid-template-rows: 990px 1370px 1689px 1187px 1300px 1200px 120px 1000px 1000px 900px 2200px 1100px 900px 289px;
	}

	@media screen and (max-width: 1100px) {
		grid-template-rows: 590px 870px 1689px 1187px 1300px 1200px 120px 1000px 1000px 900px 6400px 800px 900px 289px;
	}

	@media screen and (max-width: 800px) {
		grid-template-rows: 890px 470px 1389px 587px 850px 2100px 120px 700px 600px 900px 6400px 1000px 900px 789px;
	}

	.itemHome1 {
		background-color: $bg;
		background-image: url('../components/img/1.png');
		background-size: 100%;
		grid-column-start: 1;
		grid-column-end: 3;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 276px 60px 332px 232px;
		background-repeat: no-repeat;

		@media screen and (max-width: 1000px) {
			background-size: 130%;
			background-position: left -120px top 0px;
		}

		@media screen and (max-width: 800px) {
			background-size: 100%;
			background-position: left 0px top 0px;
			background-image: url('../components/img/16.png');
		}

		.fotoMarcel {
			display: none;
			.photo {
				position: absolute;
				left: 95px;
				top: 45px;
				z-index: 0x;
				transition: 0.3s;

				@media screen and (max-width: 1920px) {
					display: none;
				}

				@media screen and (max-width: 1440px) {
					width: 88%;
					transition: 0.3s;
					left: 91px;
				}

				@media screen and (max-width: 1240px) {
					width: 88%;
					transition: 0.3s;
					left: 78px;
					top: 34px;
				}

				@media screen and (max-width: 960px) {
					width: 88%;
					transition: 0.3s;
					left: 60px;
					top: 25px;
					display: none;
				}
			}
		}


		.blockHomeItem1 {
			background-color: rgba(30, 37, 37, 0);
			grid-column-start: 1;
			grid-column-end: 4;


			.headerPolit2 {
				font-size: 220px;
				margin-top: 45px;
				font-family: 'buyan';
				text-align: center;
				background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;


				@media screen and (max-width: 1440px) {
					font-size: 140px;
				}

				@media screen and (max-width: 800px) {
					font-size: 60px;
					margin-top: 0px;
				}
			}

		}

		.blockHomeItem2 {
			background-color: rgba(0, 255, 255, 0);
			grid-column-start: 3;
			grid-column-end: 4;

			@media screen and (max-width: 800px) {
				display: none;
			}


			.textMarcels {
				font-family: 'Mulish', sans-serif;
				color: #FFFFFF;
				font-size: 27px;

				@media screen and (max-width: 1440px) {
					font-size: 18px;
					width: 319px;
					margin-top: -90px;
				}
			}
		}

		.blockHomeItem3 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 3;
			grid-row-end: 4;
			background-color: rgba(30, 136, 136, 0);


			.textView2minute {
				color: #FFFFFF;
				width: 158px;
				font-size: 20px;
				font-family: 'Mulish', sans-serif;
				margin-left: 289px;
				margin-top: 40px;

				@media screen and (max-width: 960px) {
					margin-left: 100px;
					font-size: 16px;
					margin-top: -90px;
				}

				@media screen and (max-width: 800px) {
					margin-left: 100px;
					font-size: 10px;
					margin-top: 260px;
					width: 82px;
					margin-left: 270px;
				}
			}

			.fotoImg {
				position: absolute;
				left: 220px;
				z-index: 1;
				top: 400px;


				@media screen and (max-width: 1440px) {
					width: 30%;
					left: 120px;
					top: 260px;
				}

				@media screen and (max-width: 800px) {
					width: 70%;
					top: 600px;
					left: 190px;
				}
			}
		}

		.blockHomeItem4 {
			grid-column-start: 3;
			grid-column-end: 4;
			grid-row-start: 3;
			grid-row-end: 4;
			background-color: rgba(20, 191, 191, 0);

			@media screen and (max-width: 800px) {
				display: none;
			}

			.imgItem4King {
				margin-top: 66px;

				@media screen and (max-width: 1430px) {
					margin-top: -90px;
				}

				@media screen and (max-width: 800px) {
					display: none;
				}
			}

			.textHowPolittehnolog {
				color: #FFFFFF;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;

				@media screen and (max-width: 1430px) {
					margin-top: -100px;
					font-size: 16px;
				}

				@media screen and (max-width: 800px) {
					display: none;
				}
			}
		}

		.blockHomeItem5 {
			grid-column-start: 1;
			grid-column-end: 4;
			background-color: rgba(0, 255, 255, 0);
			z-index: 1;
			display: flex;

			@media screen and (max-width: 1000px) {
				margin-top: -180px;
			}

			@media screen and (max-width: 800px) {
				display: none;
			}

			.blockItem5One {
				width: 33%;
				background-color: #18181800;
				text-align: right;

				@media screen and (max-width: 1000px) {
					height: 116px;
				}

				.januaryText {
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 29px;
					text-transform: uppercase;
					background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					text-align: right;
					margin-right: 100px;
					margin-top: 70px;

					@media screen and (max-width: 1000px) {}

				}

				.startingText {
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 130%;
					margin-right: 100px;
					background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
				}
			}

			.blockItem5Two {
				width: 43%;
				background-color: #922e2e00;
				display: flex;
				justify-content: center;
				align-items: center;


				@media screen and (max-width: 1000px) {
					width: 50%;
					margin-left: 70px;
				}

				@media screen and (max-width: 800px) {
					display: none;
				}

				.checkListBlock {
					width: 99%;
					height: 133px;
					background-color: #252525;
					border-radius: 10px;
					display: flex;

					@media screen and (max-width: 1920px) {
						width: 80%;
						margin-top: 200px;
					}

					@media screen and (max-width: 1400px) {
						width: 90%;
					}

					@media screen and (max-width: 1000px) {
						width: 99%;
						margin-top: -150px;
					}

					.imgCenterOne {
						width: 73px;
						height: 73px;
						margin-top: 30px;
						margin-left: 30px;
					}

					.textsCheks {
						.checkListTextOne {
							font-family: 'Mulish';
							font-style: normal;
							font-weight: 400;
							font-size: 13px;
							line-height: 114%;
							display: flex;
							align-items: center;
							margin-top: 33px;
							margin-left: 15px;
							color: #FFFFFF;
						}

						.checkListTextTwo {
							font-family: 'Mulish';
							width: 150px;
							font-style: normal;
							font-weight: 400;
							font-size: 13px;
							line-height: 114%;
							margin-left: 15px;
							display: flex;
							align-items: center;
							color: #FFFFFF;
						}
					}

					.getCheckList {
						background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
						width: 575px;
						height: 97px;
						display: flex;
						justify-content: center;
						color: #422F01;
						font-family: 'Mulish';
						font-style: normal;
						font-weight: 700;
						font-size: 20px;
						line-height: 25px;
						border-radius: 12px;
						filter: drop-shadow(0px 10px 160px rgba(237, 209, 136, 0.24));
						margin-top: 16px;
						margin-left: 5px;
						align-items: center;
						margin-right: 10px;

						@media screen and (max-width: 1920px) {
							margin-left: 40px;
						}

						@media screen and (max-width: 1000px) {
							font-size: 18px;
							width: 800px;
						}
					}
				}
			}

			.blockItem5Three {
				width: 33%;
				background-color: #18181800;

				@media screen and (max-width: 800px) {
					display: none;
				}

				.eathWeek {
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 29px;
					display: flex;
					align-items: center;
					text-transform: uppercase;
					background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					margin-left: 100px;
					margin-top: 70px;
				}

				.longText {
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 130%;
					display: flex;
					align-items: center;
					text-align: center;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					margin-left: 100px;
				}
			}
		}
	}

	.itemHome2 {
		background-color: $bg;
		grid-column-start: 1;
		grid-column-end: 3;
		background-image: url('../components/img/6.png');
		background-size: 100%;
		background-repeat: no-repeat;

		@media screen and (max-width: 1200px) {
			background-size: 99%;
			background-repeat: no-repeat;
		}

		@media screen and (max-width: 800px) {
			background-size: 100%;
		}

		.text2x {
			text-align: center;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 120px;

			@media screen and (max-width: 1000px) {
				font-size: 36px;
			}

			@media screen and (max-width: 800px) {
				font-size: 24px;
				line-height: 31px;
				margin-top: 20px;

			}
		}

		.classFotoOne {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			.fiveFotoOne {
				margin-top: 94px;
				width: 60%;

				@media screen and (max-width: 800px) {
					margin-top: 34px;
				}
			}

			.btnGold {
				width: 450px;
				height: 98px;
				left: calc(50% - 450px/2);
				top: 1742px;
				margin-top: 62px;
				background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
				border-radius: 10px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width: 1000px) {
					width: 364px;
				}

				.seeCurs {
					color: #422F01;
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 700;
					font-size: 20px;
					line-height: 25px;
					display: flex;
					align-items: center;
					text-align: center;
					text-transform: uppercase;
				}
			}
		}
	}

	.itemHome3 {
		grid-column-start: 1;
		grid-column-end: 4;
		display: block;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 300px 1400px;

		.blockItemHome3One {
			display: flex;
			flex-direction: column;
			align-items: center;
			grid-column-start: 1;
			grid-column-end: 4;

			.textsWeNoTeacher1 {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 50px;
				line-height: 61px;
				align-items: center;
				text-align: center;
				color: #181818;
				margin-top: 96px;

				@media screen and (max-width: 1000px) {
					font-size: 36px;
				}

				@media screen and (max-width: 800px) {
					font-size: 20px;
					// margin-left: -80px;
					margin-top: 20px;
				}
			}

			.textsWeNoTeacher2 {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 42px;
				line-height: 61px;
				align-items: center;
				text-align: center;
				color: #eada70;
				margin-top: 5px;

				@media screen and (max-width: 1000px) {
					font-size: 36px;
				}

				@media screen and (max-width: 800px) {
					font-size: 20px;
					// margin-left: -50px;
					margin-top: -30px;
				}
			}

			.textsWeNoTeacher3 {
				width: 954px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				text-align: center;
				color: #181818;

				@media screen and (max-width: 1000px) {
					font-size: 18px;
				}

				@media screen and (max-width: 800px) {
					display: none;
				}
			}
		}

		.textsOnes {
			background-color: #00000000;
			margin-top: 40px;

			@media screen and (max-width: 1000px) {
				margin-top: -40px;
				margin-left: -70px;
			}

			.timeProgramm {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 500;
				font-size: 36px;
				line-height: 136%;
				display: flex;
				align-items: center;
				color: #181818;
				margin-left: 150px;
				margin-top: 113px;

				@media screen and (max-width: 800px) {
					font-size: 18px;
					margin-left: 112px;
					margin-top: -125px;
				}
			}

			.arrayOne {
				display: flex;

				.iconOne {
					margin-left: 150px;
					margin-top: 27px;

					@media screen and (max-width: 800px) {
						margin-left: 115px;
						width: 7.976px;
						height: 7.976px;

					}
				}

				.textArrayOne {
					width: 378px;
					margin-top: 20px;
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 28px;
					align-items: center;
					margin-left: 10px;

					@media screen and (max-width: 1000px) {
						font-size: 18px;
					}

					@media screen and (max-width: 800px) {
						width: 215px;
						font-size: 16px;
					}
				}
			}

			.timeProgramm2 {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 500;
				font-size: 36px;
				line-height: 136%;
				display: flex;
				align-items: center;
				color: #181818;
				margin-left: 150px;
				margin-top: 65px;

				@media screen and (max-width: 1000px) {
					font-size: 28px;
				}

				@media screen and (max-width: 800px) {
					font-size: 18px;
					margin-left: 115px;
				}
			}
		}

		.textsTwos {
			background-image: url('../components/img/8.png');
			background-size: 100%;
			margin-top: 40px;
			background-repeat: no-repeat;

			@media screen and (max-width: 1000px) {
				background-position: top 500px;
			}
		}
	}

	.item4Secret {
		background-color: #171717;
		grid-column-start: 1;
		grid-column-end: 4;
		position: relative;
		display: none;

		@media screen and (max-width: 800px) {
			display: block;
		}
		
		.blockMarcelHaziev {
			display: grid;
			grid-template-columns: 1fr 1.3fr;
			grid-template-rows: 100px 190px 315px;
			width: 96%;
			margin-left: 2%;
			background-color: #000000;
			border-radius: 24px;
			border: 1px solid rgb(246, 255, 0);
			position: relative;
			top: -70px;
			height: 670px;


			.imgBlockMarcelText {
				display: flex;
				justify-content: center;
				margin-top: 20px;
				background-color: #38280200;
				grid-column-start: 1;
				grid-column-end: 4;

				.imgClass1 {
					margin-top: 20px;
					margin-left: 23px;

				}

				.textLeadingPolittehnolog {
					color: white;
					width: 236px;
					text-align: center;
					font-family: Montserrat;
					margin-left: 10px;
					margin-right: 10px;
				}

				.imgClass2 {
					margin-top: 20px;
				}
			}

			.blockMarcelHazievTwo {
				grid-row-start: 2;
				background-color: #35380200;
				display: flex;
				flex-direction: column;
				align-items: center;
				grid-column-start: 1;
				grid-column-end: 4;


				.marcelHazievTextOne {
					color: white;
					font-family: Montserrat;
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					text-transform: uppercase;
				}

				.sixFotoMarcelHazievOne {
					width: 30px;
					height: 26px;
					margin-top: 13px;
				}

				.textLongIdei {
					color: var(--on-bg, #FFF);
					text-align: center;
					font-family: Mulish;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 130%;
					width: 92%;
					margin-top: 2px;
				}
			}

			.blockMarcelHazievThree {
				background-color: rgba(174, 255, 0, 0);
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 3;

				.textDeputatOneSecret {
					display: flex;
					margin-top: 8px;

					.imgCheckSecret {
						width: 12px;
						height: 12px;
						flex-shrink: 0;
						margin-top: 1px;
						margin-left: 10px;
					}

					.textOneTitleSecret {
						font-family: Mulish;
						font-size: 10px;
						font-style: normal;
						font-weight: 400;
						line-height: 130%;
						color: var(--on-bg, #FFF);
						margin-left: 4px;
					}
				}

				.arraySecurity {
					margin-top: 27.5px;
				}

				.arrayThreeSecret {
					display: flex;
					margin-top: 6px;
				

					.imgLinksSecret {
						width: 20px;
						height: 20px;
						margin-left: 10px;
					}

					.titleStyleSecret {
						margin-top: 2px;
						margin-left: 4px;
						color: var(--on-bg, #FFF);
						font-family: Mulish;
						font-size: 10px;
						font-style: normal;
						font-weight: 400;
						line-height: 142%;
						text-decoration-line: underline;
					}
				}

				
			}

			.blockMarcelHazievFour {
				background-color: rgba(255, 157, 0, 0);
				grid-column-start: 2;
				grid-column-end: 4;
				grid-row-start: 3;
				position: relative;

				.marcelFotoSecretOne {
					width: 80%;
					border-radius: 0 0 24px 0;
					margin-left: 20%;
					margin-top: 62px;
				}
			}
			
		}
	}

	.itemHome4 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #171717;
		position: relative;
		display: flex;
		justify-content: center;

		@media screen and (max-width: 800px) {
			display: none;
		}

		.blockItemHome4One {
			background: linear-gradient(113.62deg, #0A0A0A 20.85%, #1F1F1F 83.34%);
			border-radius: 56px;
			width: 96%;
			margin-left: 2%;
			height: 1097px;
			position: absolute;
			top: -80px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1097px 500px;
			
			@media screen and (max-width: 1920px) {
				width: 75%;
			}

			@media screen and (max-width: 1900px) {
				width: 96%;
				margin-left: 2%;
			}

			@media screen and (max-width: 1000px) {
				grid-template-columns: 1fr;
				width: 80%;
				margin-left: 10%;
				border-radius: 56px;
				border: 3px solid rgb(241, 221, 104);
				filter: drop-shadow(0px 100px 200px rgba(0, 0, 0, 0.26));
			}

			.columnItem4One {
				background-color: #a07a2100;
			}

			.imgTextImgFlex {
				display: flex;

				.imgClass1 {
					margin-top: 85px;
					margin-left: 55px;

					@media screen and (max-width: 1200px) {
						margin-left: 119px;
					}

					// @media screen and (max-width: 800px) {
					// 	display: none;
					// }
				}

				.textPolittehnologOne {
					width: 323px;
					margin-top: 50px;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 500;
					font-size: 22px;
					line-height: 27px;
					display: flex;
					align-items: center;
					text-align: center;
					background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					margin-left: 7.9px;

					@media screen and (max-width: 1300px) {
						font-size: 20px;
						width: 460px;
					}
				}

				.imgClass2 {
					margin-top: 85px;
				}
			}

			.marcelTextHeader {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 46px;
				line-height: 56px;
				display: flex;
				align-items: center;
				text-align: center;
				text-transform: uppercase;
				background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
				margin-left: 40px;
				margin-top: 16px;

				@media screen and (max-width: 1000px) {
					text-align: center;
					justify-content: center;
				}
			}

		}

		.blockDeputatOne {
			margin-top: 50px;

			@media screen and (max-width: 1000px) {
				position: absolute;
				margin-top: -600px;
				margin-left: -180px;
			}

			.textDeputatOne {
				display: flex;

				.imgCheck {
					width: 24px;
					height: 24px;
					margin-top: 16px;
					margin-left: 240px;

					@media screen and (max-width: 1000px) {
						width: 15px;
						height: 15px;
					}
				}

				.textOneTitle {
					margin-left: 10px;
					margin-top: 10px;
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 28px;
					display: flex;
					align-items: center;
					color: #FFFFFF;
					width: 313px;

					@media screen and (max-width: 1000px) {
						font-size: 16px;
					}
				}
			}
		}

		.sixFoto {
			margin-left: 40px;
			margin-top: 6px;

			@media screen and (max-width: 1000px) {
				display: flex;
				justify-content: center;
				margin-left: 50%;
			}
		}

		.textPMarcel {

			.textPMarcelS {
				width: 339px;
				height: 451px;
				left: 44px;
				top: 304px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				display: flex;
				align-items: center;
				color: #FFFFFF;
				margin-top: 20px;
				margin-left: 44px;

				@media screen and (max-width: 1000px) {
					font-size: 18px;
					width: 85%;
					text-align: center;
					margin-top: -100px;
				}
			}
		}

		.linksMarcel {
			top: 800px;
			background-color: rgba(197, 21, 21, 0);
			position: absolute;


			@media screen and (max-width: 1000px) {
				margin-top: 20px;
			}

			.arrayThree {
				display: flex;

				.imgLinks {
					margin-left: 40px;
					margin-top: 5px;

					@media screen and (max-width: 1000px) {
						width: 30px;
						height: 30px;
						margin-top: 5px;
					}
				}

				.titleStyle {
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 142%;
					display: flex;
					align-items: center;
					text-decoration-line: underline;
					color: #FFFFFF;
					margin-top: 2px;
					margin-left: 8px;

					@media screen and (max-width: 1000px) {
						font-size: 20px;
					}
				}
			}
		}

		.fotoMarcelOne {
			top: -476px;
			left: 360px;
			position: relative;

			.sevenFotoOne {

				margin-top: 23px;

				@media screen and (max-width: 1400px) {
					width: 60%;
					position: absolute;
					margin-left: -20px;
					display: none;
				}
			}
		}
	}

	.itemHome5Secret {
		display: none;
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;

		@media screen and (max-width: 800px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.programmTeacher {
			font-family: 'Mulish';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 130%;
			display: flex;
			align-items: center;
			color: #FFFFFF;
			margin-top: 46px;
		}

		.imgProgramm {
			background-color: rgba(255, 0, 0, 0);
			display: flex;
			justify-content: center;

			.secretProgrammImg {
				margin-top: 80px;
				
			}
		}
	}

	.itemHome5 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
		background-image: url('../components/img/12.png');
		background-repeat: no-repeat;
		background-size: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 1000px) {
			background-image: url('../components/img/15.png');
		}

		@media screen and (max-width: 800px) {
			display: none;
		}

		.methodWorks {
			background-color: rgba(255, 0, 0, 0);
			width: 80%;
			margin-top: 300px;

			.programmCoursFoto {
				width: 100%;
			}
		}

		.programmTeacher {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			align-items: center;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			margin-top: 50px;
		}

		.weGaranteed {
			display: flex;
			position: absolute;
			top: 5795px;
			left: 68%;

			.weGarantedTextP {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				display: flex;
				align-items: center;
				color: #FFFFFF;
				margin-left: 5px;
				margin-top: 2px;
			}
		}
	}

	.itemHome6 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
	}


	.itemHome7 {
		grid-column-start: 1;
		grid-column-end: 4;
		display: flex;
		justify-content: center;
		background-color: #181818;

		.participateBtn {
			width: 30%;
			background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
			border-radius: 10px;
			height: 104px;
			font-family: 'Mulish';
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			text-transform: uppercase;
			color: #422F01;

			@media screen and (max-width: 800px) {
				width: 70%;
			}
		}
	}

	.itemHome8 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
		align-items: center;

		.studentsKeys {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.keysStudentsText {
								margin-top: 127px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 50px;
				line-height: 61px;
				background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
	
				@media screen and (max-width: 800px) {
					text-align: center;
					font-family: Montserrat;
					font-size: 24px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
	
			.methodMarcelsText {
				margin-top: 16px;
				width: 842px;
				height: 53px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 130%;
				display: flex;
				text-align: center;
				color: #FFFFFF;
	
				@media screen and (max-width: 1920px) {
				}
	
				@media screen and (max-width: 800px) {
					width: 356px;
					color: var(--on-bg, #FFF);
					text-align: center;
					font-family: Mulish;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 130%;
				}
			}
		}

		
	}

	.itemHome9 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
		display: flex;
		align-items: center;
		flex-direction: column;

		.stopingText {
			width: 1083px;
			margin-top: 90px;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;


			@media screen and (max-width: 1000px) {
				font-size: 36px;
				width: 827px;
			}

			@media screen and (max-width: 800px) {
				font-size: 24px;
				width: 352px;
				line-height: normal;
			}
		}

		.imgFotoSertificats {
			width: 90%;
			margin-top: 80px;
		}
	}

	.itemHome10 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;

		.reviewsText {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 100px;

			
		}
	}

	.itemHome11 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
		display: flex;
		align-items: center;
		flex-direction: column;

		.reviewsText {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-top: 40px;

			@media screen and (max-width: 800px) {
				font-size: 24px;
				width: 267px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}

	.divBlockOneTarif {
		background-color: #66404000;

		.formatImgOne {
			width: 300px;
		}

		.blockImgOne {}
	}

	.itemHome12Secret {
		display: none;
		
		@media screen and (max-width: 800px) {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #181818;
			grid-column-start: 1;
			grid-column-end: 4;

			.prezentationTextSecret {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 108%;
				text-align: center;
				display: flex;
				width: 312px;
				flex-direction: column;
				justify-content: center;
				flex-shrink: 0;
				color: #ffffff;
				margin-top: 80px;
			}

			.blockFormSecret {
				display: flex;
				flex-direction: column;
				width: 100%;
				align-items: center;
				margin-top: 44px;

				.inpSecretForm {
					width: 70%;
					outline: none;
					height: 46px;
					color: var(--on-bg, #FFF);
					font-family: Mulish;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 130%;
					margin-top: 16px;
					border-radius: 10px;
					border: 1px solid #FFF;
					background-color: #00000000;
					padding-left: 22px;
				}
			}

			.getSecret {
				border-radius: 10px;
				width: 70%;
				background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
				border-radius: 10px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				color: #382802;
				margin-top: 25px;
				height: 90px;
				background: var(--primary, linear-gradient(167deg, rgba(255, 248, 248, 0.54) 0%, rgba(255, 255, 255, 0.11) 100%), linear-gradient(162deg, #F8B50B 0%, rgba(235, 171, 7, 0.59) 100%));
			}

			.chesFotoSecret {
				width: 50%;
			}
		}
	}

	.itemHome12 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;
		display: grid;
		grid-template-columns: 1.7fr 1fr;
		grid-template-rows: 1000px;

		@media screen and (max-width: 800px) {
			display: none;
		}

		.blockItemHome12One {


			.textOneFollower {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 50px;
				line-height: 61px;
				display: flex;
				align-items: center;
				background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				width: 658px;
				height: 183px;
				margin-left: 130px;
				margin-top: 120px;
			}

			.nameInput {
				width: 578px;
				height: 64px;
				left: 130px;
				top: 12598px;
				border: 1px solid #FFFFFF;
				border-radius: 10px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				outline: none;
				line-height: 28px;
				margin-left: 130px;
				margin-top: 57px;
				background-color: #00000000;
				color: white;
				padding-left: 24px;
			}

			.groupImputsOne {
				display: flex;

				.phoneInput {
					width: 278px;
					height: 64px;
					left: 130px;
					top: 12598px;
					border: 1px solid #FFFFFF;
					border-radius: 10px;
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					outline: none;
					line-height: 28px;
					margin-left: 130px;
					margin-top: 31px;
					background-color: #00000000;
					color: white;
					padding-left: 24px;
				}

				.mailInput {
					width: 278px;
					height: 64px;
					left: 130px;
					top: 12598px;
					border: 1px solid #FFFFFF;
					border-radius: 10px;
					font-family: 'Mulish';
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					outline: none;
					line-height: 28px;
					margin-left: 22px;
					margin-top: 31px;
					background-color: #00000000;
					color: white;
					padding-left: 24px;
				}

			}

			.btnOne {
				width: 300px;
				height: 80px;
				left: 130px;
				top: 12808px;
				background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
				border-radius: 10px;
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				color: #382802;
				margin-left: 130px;
				margin-top: 51px;
			}
		}

		.blockItemHome12Two {
			.cheesCours {
				width: 135%;
				margin-left: -250px;
				margin-top: -100px;
			}
		}
	}

	.itemHome13 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #181818;

		.questionsTextsOne {
			text-align: center;
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 50px;
			line-height: 61px;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@media screen and (max-width: 800px) {
				font-size: 24px;
			}
		}
	}

	.itemHome14Secret {
		display: none;

		@media screen and (max-width: 800px) {
			display: block;
			background-color: #000000;
			grid-column-start: 1;
			grid-column-end: 4;
		}

		.blockTwoItemHome14S {
			
			.textDogovorPublicAffertsS {
				color: rgb(248, 181, 11, 1);
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 142%;
				text-decoration-line: underline;
				margin-top: 30px;
				margin-left: 16px;
			}

			.textDogovorPublicAffertsSTwo {
				color: #f6ff00;
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 142%;
				text-decoration-line: underline;
				margin-left: 16px;
				margin-top: 12px;
			}

			.textTelegaS {
				color: #FFF;
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 130%;
				margin-left: 16px;
				margin-top: 12px;
			}

			.textlinkTelega {
				color: #FFF;
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 142%;
				text-decoration-line: underline;
				margin-left: 16px;
				margin-top: 12px;
			}

			.textEmailS {
				color: #FFF;
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 142%;
				margin-left: 16px;
				margin-top: 12px;
			}

			.supportBlockOneS {

				.supportTextS {
					
				}
			}
		}	
	}

	.itemHome14 {
		grid-column-start: 1;
		grid-column-end: 4;
		background-color: #000000;
		display: flex;

		@media screen and (max-width: 800px) {
			display: none;
		}

		.blockOneItemHome14 {
			width: 33%;
			margin-left: 130px;

			@media screen and (max-width: 800px) {
				margin-left: 60px;
			}

			.suportText {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 142%;
				display: flex;
				align-items: center;
				color: #FFFFFF;
				margin-top: 34px;
				
			}
		}

		.blockTwoItemHome14 {
			width: 33%;

			.dogovorPoliceCondfind {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 142%;
				text-align: center;
				text-decoration-line: underline;
				background: linear-gradient(111.57deg, rgba(255, 248, 248, 0.54) 35.83%, rgba(255, 255, 255, 0.108) 77.98%), linear-gradient(106.88deg, #F8B50B 37.26%, rgba(235, 171, 7, 0.59) 77.88%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.blockThreeItemHome14 {
			width: 33%;

			.titleTelegram {
				font-family: 'Mulish';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 142%;
				display: flex;
				align-items: center;
				color: #FFFFFF;
			}
		}
	}
}



// Secret Blocks

.secret30Jun {
	display: none;

	@media screen and (max-width: 800px) {
		display: flex;

		.secretPodBlockOne {
			margin-left: 10%;
			margin-top: 30px;
		}

		.secretPodBlockTwo {
			margin-left: 20%;
			margin-top: 30px;
		}

		.jun {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.startCours {
			font-family: 'Mulish';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			display: flex;
			align-items: center;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		.eaathWeek {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}

		.longText {
			font-family: 'Mulish';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 130%;
			display: flex;
			align-items: center;
			text-align: center;
			background: linear-gradient(178.98deg, #FFFFFF 0.88%, #676767 99.12%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
}

.textOnlineCours {
	display: none;

	@media screen and (max-width: 800px) {
		display: flex;
		justify-content: center;
	}

	.onlineCoursSecret {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 29px;
	}
}

.imgSecretBlock {
	display: none;

	@media screen and (max-width: 800px) {
		display: flex;
		justify-content: center;
	}
}

.textHowPolittehnologSecret {
	display: none;

	@media screen and (max-width: 800px) {
		font-family: 'Mulish';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 110%;
		display: flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
	}
}

.blockFlexSecret {
	display: none;

	@media screen and (max-width: 800px) {
		display: block;
	}

	.blockFotoStudentsS {
		background-color: #000000;
		height: 380px;
		border-radius: 24px;
		margin-top: 10px;
		display: flex;
		align-items: center;
		flex-direction: column;

		

		.studentsLinkSecret {
			border: 1px solid yellow;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			margin-top: 30px;
		}

		.titleStudentsSecret {
			color: var(--on-bg, #FFF);
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			text-transform: uppercase;
			margin-top: 16px;
		}

		.textStudentsSecret {
			color: var(--on-bg, #FFF);
			text-align: center;
			font-family: Mulish;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
			margin-top: 38px;
		}
	}
}

.blockFlex {
	width: 90%;
	background-color: rgba(225, 30, 30, 0);
	margin-left: 5%;
	margin-top: 40px;
	height: 900px;

	@media screen and (max-width: 800px) {
		display: none;
	}

	.swiperContainer {
		width: 100%;

		.swiper-button-prev swiper-button-disabled{
			background-color: red;
		}
	}

	.blockFotoStudents {
		width: 100%;
		height: 800px;
		background-color: rgba(190, 29, 29, 0);
		display: flex;
		align-items: center;
		flex-direction: column;
		
		.swiperSlideCenter {
			display: flex;
			justify-content: center;
		}


		.namedStudentsTitle {
			display: flex;
			align-items: center;
			justify-content: center;

			

			.textHeaderStudents {
				color: var(--on-bg, #FFF);
				font-size: 20px;
				font-family: Montserrat;
				text-align: center;
				margin-top: 20px;
			}

		}

		.imgStudentsDiv {
			display: flex;
			justify-content: center;
			align-items: center;
			.imgSrcStudents {
				margin-top: 26px;
			}

		}

		.rombsBlock {
			display: flex;
			justify-content: center;

			.imgRombs {
				width: 40px;
				margin-top: 50px;
			}
		}

		.textDescriptionDiv {
			display: flex;
			align-items: center;
			flex-direction: column;
			background-color: #00000000;
			width: 100%;

			.textTitleStudents {
				color: var(--on-bg, #FFF);
				text-align: center;
				font-size: 18px;
				font-family: Mulish;
				font-style: normal;
				font-weight: 400;
				line-height: 142%;
				margin-top: 10px;
				max-width: 583px;
			}

		}

		
	}
}

.swiperContainer {
	width: 80%;
	margin-left: 10%;

	@media screen and (max-width: 800px) {
		display: none;
	}
}

.swiperContainerSecret {
	display: none;

	@media screen and (max-width: 800px){
		display: block;
		margin-left: 50px;
	}
}

.suportTextS{ 
	color: #FFF;
	font-family: Mulish;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 142%;
	margin-left: 16px;
	margin-top: 12px;
}